<?xml version="1.0"?>
<config>
    <modules>
        <NV_Donations>
            <version>1.1.0</version>
        </NV_Donations>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <NV_Donations after="Mage_Adminhtml">NV_Donations_Adminhtml</NV_Donations>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <donations module="donations">
                        <title><![CDATA[Donations]]></title>
                        <action>adminhtml/donations_index/index</action>
                        <sort_order>55</sort_order>
                    </donations>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <donations>
                                            <title>Donations</title>
                                        </donations>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <donations>
                    <file>nv/donations.xml</file>
                </donations>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <donations>
                    <file>nv/donations.xml</file>
                </donations>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <donations>
                <class>NV_Donations_Model</class>
                <resourceModel>donations_resource</resourceModel>
            </donations>
            <donations_resource>
                <class>NV_Donations_Model_Resource</class>
                <entities>
                        <donations>
                            <table>sales_donations</table>
                        </donations>
                </entities>
            </donations_resource>
        </models>
        <resources>
            <donations_setup>
                <setup>
                    <module>NV_Donations</module>
                </setup>
            </donations_setup>
        </resources>
        <blocks>
            <donations>
                <class>NV_Donations_Block</class>
            </donations>
        </blocks>
        <helpers>
            <donations>
                <class>NV_Donations_Helper</class>
            </donations>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <donations_save_order_after>
                        <class>donations/observer</class>
                        <method>orderSaveAfter</method>
                    </donations_save_order_after>
                </observers>
            </sales_order_save_after>          
        </events>
    </global>
    <default>
        <donations>
            <general>
                <enable>0</enable>
                <order_status>processing</order_status>
            </general>
        </donations>
    </default>
</config>
